/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Menú */
    .menu__list .menu__list__item{
        display: none;
    }

    .menu__list .menu__list__item__contato{
        display: block;
    }
    
    /*title*/
    .title .title__div .title__profile{
        width: 146px;
        height: 146px;
    }

    .title .title__div .title__bio{
        font-size: 22px;
        font-weight: 700;
    }

    .title .title__div .title__subsection{
        font-size: 16px;
    }

    /*Skills*/
    
    /*Hobbies*/
    .hobbies{
        margin-top: 500px;
        margin-bottom: 200px;
    }

    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    .experiencie__box{
        flex-direction: column;
        width: 100%;
    }
    .experience__info{
        align-self: stretch;
    }

    .encriptador{
        order: -1;
    }

    /*Contacto*/
    .formcontato{
        display: flex;
        width: 100%;
        margin-left: 0rem;
    }

    .formcontato__contacto{
        display: flex;
        width: 100%;
        background-color: var(--Background__lightBlue);
    }
    .formcontato__img{
        display: none;
    }
    }
    
    /*Mobile*/
    @media screen and (min-width: 414px) and (max-width: 767px) {
    
    /*Menu*/
    .menu__list{
        font-size: 14px;
    }
    .menu__list .menu__list__item{
        display: none;
    }

    .menu__list .menu__list__item__contato{
        display: block;
        font-weight: 400;
    }
    
    /*Titulo*/

    .title, .title__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 2rem 1rem;
        color: var(--Background__darkGray);
        font-family: var(--Raleway-font);
    }
    .title__profile {
        border-radius: 50%;
        width: 98px;
        height: 98px;
        order: -1;
    }

    .title .title__div .title__bio{
        font-size: 22px;
        font-weight: 700;
        width: 100%;
        height: 20px;
        margin: 2rem 0rem 0rem;
    }

    .title .title__div .title__subsection{
        font-size: 16px;
        width: 100%;
        height: 52px;
        margin: 2rem 0rem 0rem; 
    }

    .title__network, .title__network__item{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 2rem;
        font-size: 14px;    
        
    }
    
    /*Sección sobre mi*/
    
    /*Skills*/
    
    .skills__box{
        width: 156px;
        height: 118px;
    }
    
    /*Hobbies*/
    .hobbies{
        margin-top: 55rem;
        margin-bottom: 100px;
    }

    .hobbies__box{
        width: 156px;
        height: 118px;
    }

    /*Formación Académica*/
    .academic{
        margin-top: 20rem;
        width: 360px;
        align-items: center;
        justify-content: center;
    }
    .academic__title{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .academic__courses{
        flex-wrap: wrap;
        width: 50%;
    }

    .academic__courses__box{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 50%;
        margin-right: 50%;
    }

    .academic__courses__item__title, .academic__courses__item__subtitle{
        width: 20rem;
    }

    /*Experiencia Profesional*/
    .experience{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .experience__section__title{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .experiencie__box{
        flex-direction: column;
        width: 100%;
    }

    .encriptador{
        order: -1;
    }

     /*Contacto*/
     .formcontato{
        width: 100%;
     }
     .formcontato__text{
        width: 100%;
     }
     .formcontato__title{
        text-align: center;
        width: 100%;
     }
     .formcontato__img{
        display: none;
     }
    /*Footer*/
}
